@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import './mixin';

* {
  font-family: 'Raleway', sans-serif;
}

body{
  overflow-y: scroll;
}

@include desktop-large {
  .channelTalkIcon {
    position: fixed;
    right: 6%;
    bottom: 6%;
    background: linear-gradient(rgb(58, 202, 209), rgb(38, 159, 175));
    border: none;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    .MuiSvgIcon-root {
      width: 1.8em;
      height: auto;
      color: white;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
    }
  }
}

@include desktop-small {
  .channelTalkIcon {
    position: fixed;
    right: 5%;
    bottom: 5%;
    background: linear-gradient(rgb(58, 202, 209), rgb(38, 159, 175));
    border: none;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    .MuiSvgIcon-root {
      width: 1.5em;
      height: auto;
      color: white;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
    }
  }
}

@include tablet {
  .channelTalkIcon {
    position: fixed;
    right: 6%;
    bottom: 5%;
    background: linear-gradient(rgb(58, 202, 209), rgb(38, 159, 175));
    border: none;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    .MuiSvgIcon-root {
      width: 1.5em;
      height: auto;
      color: white;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
    }
  }
}

@include mobile {
  .channelTalkIcon {
    position: fixed;
    right: 7%;
    bottom: 4%;
    background: linear-gradient(rgb(58, 202, 209), rgb(38, 159, 175));
    border: none;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    .MuiSvgIcon-root {
      width: 1.3em;
      height: auto;
      color: white;
    }
    &:hover {
      cursor: pointer;
      box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.4);
    }
  }
}