@import "../mixin";

@include desktop {
  .background {
    width: 100%;
    position: relative;
    text-align: center;
    .nav {
      height: 6em;
      color:  rgb(1, 1, 37);
      border-bottom: 0.01rem solid rgba(1, 1, 37, 0.1);
      margin-bottom: 1.5em;
      .homeTitle {
        display: inline-block;
        font-size: 2.3em;
        font-weight: bolder;
        text-decoration: none;
        line-height: 2.5em;
        color:  rgb(1, 1, 37);
      }
    }
  }
}

@include tablet {

}

@include mobile {

}