@import '../mixin';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@include desktop-large {
  .cartIcon {
    position: absolute;
    top: -6.1em;
    color: white;
    right: 10em;
    font-weight: 100;
    .cartIconBtn {
      background-color: transparent;
      border: none;
      img {
        width: 2.6em;
        height: auto;
        &:hover {
          cursor: pointer;
          width: 2.2em;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 0.5em;
        }
      }
    }
  }
  .restaurantsChicken {
    text-align: center;
    display: inline-block;
    font-size: 1.7em;
    .chickenSelected {
      float: left;
      width: 17.55em;
      height: 2em;
      background-color: rgb(183, 60, 3);
      border: 1px solid rgb(183, 60, 3);
      margin-right: 5px;
      a {
        line-height: 2em;
        text-decoration: none;
        color: white;
      }
    }
    .noodle {
      float: left;
      width: 17.55em;
      height: 2em;
      background-color: transparent;
      border: 1px solid rgb(183, 60, 3);
      margin-left: 5px;
      a {
        line-height: 2em;
        text-decoration: none;
        color:  rgb(183, 60, 3);
      }
      &:hover {
        background-color:  rgb(183, 60, 3);
        a {
          color: white;
        }
      }
    }
  }
  .menuContent {
    margin-top: 5px;
    .banner {
      img {
        width: 60.6em;
      }
    }
    .restaurantInfo {
      width: 43.1em;
      display: inline-block;
      background-color: #f6f6f8;
      color: rgb(1, 1, 37);
      font-size: 1.4em;
      font-weight: 400;
      padding: 10px 0;
      border: 1px solid #ebebeb;
      .Info {
        font-size: 0.8em;
        line-height: 1.5em;
        .InfoDetailTitle {
          color: rgb(174, 174, 174);
          font-weight: 500;
          padding-right: 30px;
        }
      }
      .restaurantDes {
        font-weight: 500;
        padding-bottom: 10px;
      }
    }
    ul {
      width: 61.1em;
      text-align: center;
      display: inline-block;
      padding-left: 0;
      margin-top: 5px;
      .menuLi {
        width: 19.6em;
        height: 18.5em;
        float: left;
        margin: 10px 5px;
        background-color: #f6f6f8;
        border: 1px solid #ebebeb;
        &:hover {
          cursor: pointer;
          border: 1px solid #cfcfcf;
          background-color: #e7e7e7;
        }
        li {
          list-style: none;
          img {
            width: 19.6em;
            height: 13em;
          }
          .menuName {
            text-align: left;
            // width: 16em;
            font-weight: 600;
            font-size: 1em;
            padding: 7px 7px 7px 12px;
          }
          .menuPrice {
            text-align: left;
            font-size: 0.9em;
            padding: 3px 0 0 12px;
          }
          .addCartBtn {
            background-color: transparent;
            border: none;
            position: relative;
            left: 41%;
            top: -1.3em;
            img {
              width: 1.8em;
              height: auto;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@include desktop-small {
  .cartIcon {
    position: absolute;
    top: -5.5em;
    color: white;
    right: 6em;
    font-weight: 100;
    .cartIconBtn {
      background-color: transparent;
      border: none;
      img {
        width: 2.5em;
        height: auto;
        &:hover {
          cursor: pointer;
          width: 2em;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 0.5em;
        }
      }
    }
  }
  .restaurantsChicken {
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    .chickenSelected {
      float: left;
      width: 17.55em;
      height: 2em;
      background-color: rgb(183, 60, 3);
      border: 1px solid rgb(183, 60, 3);
      margin-right: 5px;
      a {
        line-height: 2em;
        text-decoration: none;
        color: white;
      }
    }
    .noodle {
      float: left;
      width: 17.55em;
      height: 2em;
      background-color: transparent;
      border: 1px solid rgb(183, 60, 3);
      margin-left: 5px;
      a {
        line-height: 2em;
        text-decoration: none;
        color:  rgb(183, 60, 3);
      }
      &:hover {
        background-color:  rgb(183, 60, 3);
        a {
          color: white;
        }
      }
    }
  }
  .menuContent {
    margin-top: 5px;
    .banner {
      img {
        width: 53.6em;
      }
    }
    .restaurantInfo {
      width: 44.5em;
      display: inline-block;
      background-color: #f6f6f8;
      color: rgb(1, 1, 37);
      font-size: 1.2em;
      font-weight: 400;
      padding: 10px 0;
      border: 1px solid #ebebeb;
      .Info {
        font-size: 0.8em;
        line-height: 1.5em;
        .InfoDetailTitle {
          color: rgb(174, 174, 174);
          font-weight: 500;
          padding-right: 30px;
        }
      }
      .restaurantDes {
        font-weight: 500;
        padding-bottom: 10px;
      }
    }
    ul {
      width: 54.1em;
      text-align: center;
      display: inline-block;
      padding-left: 0;
      margin-top: 5px;
      .menuLi {
        width: 17.2em;
        height: 16.5em;
        float: left;
        margin: 10px 5px;
        background-color: #f6f6f8;
        border: 1px solid #ebebeb;
        &:hover {
          cursor: pointer;
          border: 1px solid #cfcfcf;
          background-color: #e7e7e7;
        }
        li {
          list-style: none;
          img {
            width: 17.2em;
            height: 11.5em;
          }
          .menuName {
            text-align: left;
            // width: 16em;
            font-weight: 600;
            font-size: 0.9em;
            padding: 5px 5px 5px 10px;
          }
          .menuPrice {
            text-align: left;
            font-size: 0.85em;
            padding: 3px 0 0 10px;
          }
          .addCartBtn {
            background-color: transparent;
            border: none;
            position: relative;
            left: 41%;
            top: -1.3em;
            img {
              width: 1.8em;
              height: auto;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@include tablet {
  .homeTitle {
    font-size: 2em;
    width: 100%;
    margin: 0.5em auto;
  }
}

@include mobile {

}