@import '../mixin';

@include desktop-large {
  .background {
    .h1 {
      font-size: 2.1em;
      margin: 1.5em auto 1em;
    }
    .content {
      background-color: #f6f6f8;
      width: 50%;
      margin: auto;
      padding: 55px 0 1px;
      border: 1px solid #ebebeb;
      .signupBtn {
        width: 100%;
        .btn {
          text-decoration: none;
          font-size: 1.1em;
          vertical-align: baseline;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          display: inline-block;
          &:hover {
            cursor: pointer;
            background-color: rgba(207, 207, 207, 0.2);
            font-weight: 600;
          }
        }
        .googleBtn {
          margin-bottom: 0.5em;
          padding: 12px 0;
          width: 21em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/google_logo.png');
          background-size: 22px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
        .lineBtn {
          margin-bottom: 0.5em;
          padding: 12px 0;
          width: 21em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/line_logo.png');
          background-size: 24px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
      }
      .signupOR {
        font-size: 1em;
        margin: 1em auto 1.5em;
      }
      .signupForm {
        width: 100%;
        .signupInput {
          display: block;
          margin: 0.5em auto;
          padding: 12px 0 12px 15px;
          width: 26.6em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .alert {
          color: rgb(190, 23, 11);
          font-size: 0.8em;
          margin-bottom: 1em;
        }
        .none {
          display: none;
        }
        .signupCheckBox {
          font-size: 1em;
          input {
            margin: 0.7em 0.5em 0.5em 0;
            cursor: pointer;
          }
          label {
            &:hover {
              cursor: pointer;
              font-weight: 500;
            }
          }
        }
      }
      .signupSubmitBtn {
        margin: 2em 1em 1em;
        width: 21em;
        padding: 12px 0;
        border-radius: 4px;
        font-size: 1.1em;
        color: white;
        background-color:  rgb(1, 1, 37);
        &:hover {
          cursor: pointer;
          // opacity: 85%;
          background-color:  rgba(1, 1, 37, 0.85);
          font-weight: 600;
        }
      }
      .gotoSignIn {
        margin-bottom: 4em;
        a {
          color: rgb(1, 1, 37);
          &:hover {
            font-weight: 600;
          }
        }
      }
      .forgotPassword {
        margin-bottom: 1em;
        p {
          color: rgb(1, 1, 37);
          text-decoration: underline;
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@include desktop-small {
  .background {
    .h1 {
      font-size: 2em;
      margin: 1.5em;
    }
    .content {
      background-color: #f6f6f8;
      width: 45%;
      margin: auto;
      padding: 55px 0 1px;
      border: 1px solid #ebebeb;
      .signupBtn {
        width: 100%;
        .btn {
          text-decoration: none;
          font-size: 1em;
          vertical-align: baseline;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          display: inline-block;
          &:hover {
            cursor: pointer;
            background-color: rgba(207, 207, 207, 0.2);
            font-weight: 600;
          }
        }
        .googleBtn {
          margin-bottom: 0.5em;
          padding: 10px 0;
          width: 21em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/google_logo.png');
          background-size: 20px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
        .lineBtn {
          margin-bottom: 0.5em;
          padding: 10px 0;
          width: 21em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/line_logo.png');
          background-size: 22px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
      }
      .signupOR {
        font-size: 1em;
        margin: 1em auto 1.5em;
      }
      .signupForm {
        width: 100%;
        .signupInput {
          display: block;
          margin: 0.5em auto;
          padding: 10px 0 10px 10px;
          width: 24.3em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .alert {
          color: rgb(190, 23, 11);
          font-size: 0.7em;
          margin-bottom: 1em;
        }
        .none {
          display: none;
        }
        .signupCheckBox {
          font-size: 0.9em;
          input {
            margin: 0.5em 0.5em 0.5em 0;
            cursor: pointer;
          }
          label {
            &:hover {
              cursor: pointer;
              font-weight: 500;
            }
          }
        }
      }
      .signupSubmitBtn {
        margin: 2em 1em 1em;
        width: 21em;
        padding: 10px 0;
        border-radius: 4px;
        font-size: 1em;
        color: white;
        background-color:  rgb(1, 1, 37);
        &:hover {
          cursor: pointer;
          // opacity: 85%;
          background-color:  rgba(1, 1, 37, 0.85);
          font-weight: 600;
        }
      }
      .gotoSignIn {
        margin-bottom: 4em;
        a {
          color: rgb(1, 1, 37);
          &:hover {
            font-weight: 600;
          }
        }
      }
      .forgotPassword {
        margin-bottom: 1em;
        p {
          color: rgb(1, 1, 37);
          text-decoration: underline;
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@include tablet {
  .background {
    .h1 {
      font-size: 1.7em;
      margin: 1.2em;
    }
    .content {
      background-color: #f6f6f8;
      width: 70%;
      margin: auto;
      padding: 40px 0 1px;
      border: 1px solid #ebebeb;
      .signupBtn {
        width: 100%;
        .btn {
          text-decoration: none;
          font-size: 0.9em;
          vertical-align: baseline;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          display: inline-block;
          &:hover {
            cursor: pointer;
            background-color: rgba(207, 207, 207, 0.2);
            font-weight: 600;
          }
        }
        .googleBtn {
          margin-bottom: 0.4em;
          padding: 11px 0;
          width: 21em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/google_logo.png');
          background-size: 20px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
        .lineBtn {
          margin-bottom: 0.5em;
          padding: 11px 0;
          width: 21em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/line_logo.png');
          background-size: 22px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
      }
      .signupOR {
        font-size: 0.9em;
        margin: 1em auto 1.5em;
      }
      .signupForm {
        width: 100%;
        .signupInput {
          display: block;
          margin: 0.5em auto;
          padding: 11px 0 11px 12px;
          width: 21.7em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .alert {
          color: rgb(190, 23, 11);
          font-size: 0.8em;
          margin-bottom: 0.5em;
        }
        .none {
          display: none;
        }
        .signupCheckBox {
          font-size: 0.85em;
          input {
            margin: 0.5em 0.5em 0.5em 0;
            cursor: pointer;
          }
          label {
            &:hover {
              cursor: pointer;
              font-weight: 500;
            }
          }
        }
      }
      .signupSubmitBtn {
        margin: 2em 1em 1em;
        width: 19em;
        padding: 11px 0;
        border-radius: 4px;
        font-size: 1em;
        color: white;
        background-color:  rgb(1, 1, 37);
        &:hover {
          cursor: pointer;
          // opacity: 85%;
          background-color:  rgba(1, 1, 37, 0.85);
          font-weight: 600;
        }
      }
      .gotoSignIn {
        margin-bottom: 2em;
        a {
          font-size: 0.95em;
          color: rgb(1, 1, 37);
          &:hover {
            font-weight: 600;
          }
        }
      }
      .forgotPassword {
        margin-bottom: 1em;
        p {
          font-size: 0.95em;
          color: rgb(1, 1, 37);
          text-decoration: underline;
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@include mobile {
  .background {
    .h1 {
      font-size: 1.5em;
      margin: 1em;
    }
    .content {
      background-color: #f6f6f8;
      width: 90%;
      margin: auto;
      padding: 20px 0 1px;
      border: 1px solid #ebebeb;
      .signupBtn {
        width: 100%;
        .btn {
          text-decoration: none;
          font-size: 0.85em;
          vertical-align: baseline;
          text-align: center;
          border: 1px solid #ccc;
          border-radius: 4px;
          display: inline-block;
          &:hover {
            cursor: pointer;
            background-color: rgba(207, 207, 207, 0.2);
            font-weight: 600;
          }
        }
        .googleBtn {
          margin-bottom: 0.4em;
          padding: 11px 0;
          width: 20em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/google_logo.png');
          background-size: 20px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
        .lineBtn {
          margin-bottom: 0.5em;
          padding: 11px 0;
          width: 20em;
          color: black;
          position: relative;
          background-color: white;
          background-image: url('../img/line_logo.png');
          background-size: 22px;
          background-position: 20px 50%;
          background-repeat: no-repeat;
        }
      }
      .signupOR {
        font-size: 0.85em;
        margin: 0.5em auto 1em;
      }
      .signupForm {
        width: 100%;
        .signupInput {
          font-size: 0.75em;
          display: block;
          margin: 0.5em auto;
          padding: 11px 0 11px 12px;
          width: 21.6em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .alert {
          color: rgb(190, 23, 11);
          font-size: 0.75em;
          margin-bottom: 0.5em;
        }
        .none {
          display: none;
        }
        .signupCheckBox {
          font-size: 0.8em;
          input {
            margin: 0.5em 0.5em 0.5em 0;
            cursor: pointer;
          }
          label {
            &:hover {
              cursor: pointer;
              font-weight: 500;
            }
          }
        }
      }
      .signupSubmitBtn {
        margin: 1.5em 1em 1em;
        width: 18.8em;
        padding: 11px 0;
        border-radius: 4px;
        font-size: 0.9em;
        color: white;
        background-color:  rgb(1, 1, 37);
        &:hover {
          cursor: pointer;
          // opacity: 85%;
          background-color:  rgba(1, 1, 37, 0.85);
          font-weight: 600;
        }
      }
      .gotoSignIn {
        margin-bottom: 1.5em;
        a {
          font-size: 0.9em;
          color: rgb(1, 1, 37);
          &:hover {
            font-weight: 600;
          }
        }
      }
      .forgotPassword {
        margin-bottom: 1em;
        p {
          font-size: 0.95em;
          color: rgb(1, 1, 37);
          text-decoration: underline;
          &:hover {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
  }
}