@import "../mixin";

@include desktop-large {
  
}

@include desktop-small {
  .background {
    width: 100%;
    position: relative;
    text-align: center;
    .languageBtn {
      font-size: 0.8em;
      position: absolute;
      right: 3em;
      top: -8.7%;
      clear: both;
      text-align: center;
      width: 6.6em;
      padding: 9px;
      text-align: center;
      border: 0.01rem solid rgba(1, 1, 37, 0.5);
      border-radius: 0.5em;
      &:hover {
        cursor: pointer;
        width: 6.6em;
        background-color: rgb(1, 1, 37);
        color: white;
        border-radius: 0.5em;
        text-align: center;
      }
    }
    .helpMenu {
      text-align: center;
      line-height: 30em;
      display: inline-block;
      .foodDelivery {
        background-image: url('../img/delivery.png');
        background-size: cover;
        background-repeat: none;
        float: left;
        width: 30em;
        height: 30em;
        margin: 0.5em;
        .overlay {
          background-color: rgba(20, 20, 20, 0.4);
          a {
            font-size: 1.8em;
            text-decoration: none;
            color: white;
            font-weight: 500;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
          }
        }
      }
      .luggage {
        background-image: url('../img/suitcase.png');
        background-size: cover;
        background-repeat: none;
        float: left;
        width: 30em;
        height: 30em;
        margin: 0.5em;
        .overlay {
          background-color: rgba(20, 20, 20, 0.4);
          a {
            font-size: 1.8em;
            text-decoration: none;
            color: white;
            font-weight: 500;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
          }
        }
      }
      .taxi {
        background-image: url('../img/airtaxi.png');
        background-size: cover;
        background-repeat: none;
        float: left;
        width: 30em;
        clear: both;
        height: 30em;
        margin: 0.5em;
        .overlay {
          background-color: rgba(20, 20, 20, 0.4);
          a {
            font-size: 1.8em;
            text-decoration: none;
            color: white;
            font-weight: 500;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
          }
        }
      }
      .rental {
        background-image: url('../img/travelpackage.png');
        background-size: cover;
        background-repeat: none;
        float: left;
        width: 30em;
        height: 30em;
        margin: 0.5em;
        .overlay {
          background-color: rgba(20, 20, 20, 0.4);
          a {
            font-size: 1.8em;
            text-decoration: none;
            color: white;
            font-weight: 500;
          }
          &:hover {
            cursor: pointer;
            background-color: rgba(20, 20, 20, 0.5);
          }
        }
      }
    }
  }
}

@include tablet {
  .homeTitle {
    font-size: 2em;
    width: 100%;
    margin: 0.5em auto;
  }
}

@include mobile {

}