@import "../mixin";

@include desktop-large {
 
}

@include desktop-small {
  .background {
    .h1 {
      font-size: 2em;
      margin: 1.5em;
      color: rgb(1, 1, 37);
    }
    .contentMyInfo {
      background-color: #f6f6f8;
      width: 45%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .userInfoTitle {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .userInfoBox {
        margin-top: 30px;
        .userInfo {
          text-align: left;
          padding-left: 40px;
          .userInfoIcon {
            color: rgb(1, 1, 37);
            float: left;
            margin-right: 5px;
            .MuiSvgIcon-root {
              font-size: 1.3em;
            }
          }
          .userInfoText {
            color: rgba(1, 1, 37, 0.8);
            span {
              font-weight: 900;
              margin-right: 20px;
            }
          }
        }
        .userInfoEmail {
          clear: both;
        }
      }
      .userInfoBtn {
        margin: 40px auto 0;
        padding-left: 350px;
        .mypageBtn {
          font-size: 0.85em;
          border: 1px solid rgba(1, 1, 37, 0.3);
          border-radius: 4px;
          padding: 5px 8px;
          background-color: rgba(255, 255, 255, 0.5);
          &:hover {
            cursor: pointer;
            background-color: white;
            font-weight: 600;
            border: 1px solid rgba(1, 1, 37, 0.2);
          }
        }
        .changePasswordBtn {
          margin-right: 10px;
        }
      }
    }
    .contentOrderInfo {
      background-color: #f6f6f8;
      width: 45%;
      margin: 1em auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .orderHistoryTitle {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
    }
  } 
}

@include tablet {

}

@include mobile {

}