@import '../mixin';

@include desktop-large {
  .background {
    .h1 {
      font-size: 2.1em;
      margin: 1.5em;
      color: rgb(1, 1, 37);
    }
    .contentMyInfo {
      background-color: #f6f6f8;
      width: 50%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .userInfoTitle {
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .userInfoBox {
        margin-top: 30px;
        .userInfo {
          font-size: 1.1em;
          text-align: left;
          padding-left: 50px;
          .userInfoIcon {
            color: rgb(1, 1, 37);
            float: left;
            margin-right: 5px;
            .MuiSvgIcon-root {
              font-size: 1.4em;
            }
          }
          .userInfoText {
            color: rgba(1, 1, 37, 0.8);
            span {
              font-weight: 900;
              margin-right: 20px;
            }
          }
        }
        .userInfoEmail {
          clear: both;
        }
      }
      .userInfoBtn {
        margin: 40px auto 0;
        padding-left: 430px;
        .mypageBtn {
          font-size: 0.9em;
          border: 1px solid rgba(1, 1, 37, 0.3);
          border-radius: 4px;
          padding: 8px 12px;
          background-color: rgba(255, 255, 255, 0.5);
          &:hover {
            cursor: pointer;
            background-color: white;
            font-weight: 600;
            border: 1px solid rgba(1, 1, 37, 0.2);
          }
        }
      }
    }
    .contentOrderInfo {
      background-color: #f6f6f8;
      width: 50%;
      margin: 1em auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .orderHistoryTitle {
        font-size: 1.3em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .orderHistoryBox {
        margin: 15px auto;
        width: 80%;
        .orderLists {
          .orderlist {
            list-style: none;
            background-color: rgba(255, 255, 255, 0.5);
            padding: 20px 10px;
            border: 1px solid #ebebeb;
            border-radius: 4px;
            margin-bottom: 12px;
            .restaurantName {
              float: left;
              font-size: 1.1em;
              font-weight: 600;
              padding-left: 20px;
              margin-bottom: 20px;
            }
            .purchasedAt {
              float: right;
              font-size: 0.9em;
              color: gray;
              padding-right: 20px;
            }
            .menuLists {
              clear: both;
              padding-top: 15px;
              padding-bottom: 10px;
              margin-bottom: 15px;
              border-top: 1px solid #ebebeb;
              border-bottom: 1px solid #ebebeb;
              .menuList {
                list-style: none;
                text-align: left;
                .menuName {
                  font-size: 0.95em;
                  font-weight: 400;
                }
                .menuOption {
                  font-size: 0.9em;
                  margin-bottom: 10px;
                  font-weight: 300;
                }
              }
            }
            .deliveryInfomation {
              text-align: left;
              padding: 5px 0 0 20px;
              .title {
                font-size: 0.9em;
                font-weight: 600;
                float: left;
                width: 6.5em;
                height: 1.5em;
              }
              .text {
                height: 1.5em;
                font-size: 0.9em;
                font-weight: 350;
                padding-left: 20px;
              }
              .address {
                height: 2em;
              }
            }
          }
        }
      }
    }
  } 
}

@include desktop-small {
  .background {
    .h1 {
      font-size: 2em;
      margin: 1.5em;
      color: rgb(1, 1, 37);
    }
    .contentMyInfo {
      background-color: #f6f6f8;
      width: 45%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .userInfoTitle {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .userInfoBox {
        margin-top: 30px;
        .userInfo {
          text-align: left;
          padding-left: 40px;
          .userInfoIcon {
            color: rgb(1, 1, 37);
            float: left;
            margin-right: 5px;
            .MuiSvgIcon-root {
              font-size: 1.3em;
            }
          }
          .userInfoText {
            color: rgba(1, 1, 37, 0.8);
            span {
              font-weight: 900;
              margin-right: 20px;
            }
          }
        }
        .userInfoEmail {
          clear: both;
        }
      }
      .userInfoBtn {
        margin: 40px auto 0;
        padding-left: 350px;
        .mypageBtn {
          font-size: 0.85em;
          border: 1px solid rgba(1, 1, 37, 0.3);
          border-radius: 4px;
          padding: 8px 12px;
          background-color: rgba(255, 255, 255, 0.5);
          &:hover {
            cursor: pointer;
            background-color: white;
            font-weight: 600;
            border: 1px solid rgba(1, 1, 37, 0.2);
          }
        }
        .changePasswordBtn {
          margin-right: 10px;
        }
      }
    }
    .contentOrderInfo {
      background-color: #f6f6f8;
      width: 45%;
      margin: 1em auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .orderHistoryTitle {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .orderHistoryBox {
        margin: 15px auto 0;
        width: 90%;
        .orderLists {
          .orderlist {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 15px;
            border: 1px solid #ebebeb;
            border-radius: 4px;
            margin-bottom: 10px;
            list-style: none;
            .restaurantName {
              float: left;
              font-size: 1.1em;
              font-weight: 600;
              padding-left: 10px;
              margin-bottom: 20px;
            }
            .purchasedAt {
              float: right;
              font-size: 0.9em;
              color: gray;
              padding-right: 10px;
            }
            .menuLists {
              clear: both;
              padding-top: 15px;
              padding-bottom: 10px;
              margin-bottom: 15px;
              border-top: 1px solid #ebebeb;
              border-bottom: 1px solid #ebebeb;
              .menuList {
                list-style: none;
                text-align: left;
                .menuName {
                  font-size: 0.95em;
                  font-weight: 500;
                }
                .menuOption {
                  font-size: 0.9em;
                  margin-bottom: 10px;
                  font-weight: 300;
                }
              }
            }
            .deliveryInfomation {
              text-align: left;
              padding: 5px 0 0 10px;
              .title {
                font-size: 0.9em;
                font-weight: 600;
                float: left;
                width: 6.5em;
                height: 1.5em;
              }
              .text {
                height: 1.5em;
                font-size: 0.85em;
                font-weight: 350;
                padding-left: 15px;
              }
              .address {
                height: 2.2em;
              }
            }
          }
        }
      }
    }
  } 
}

@include tablet {
  .background {
    .h1 {
      font-size: 1.7em;
      margin: 1.2em;
      color: rgb(1, 1, 37);
    }
    .contentMyInfo {
      background-color: #f6f6f8;
      width: 60%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .userInfoTitle {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .userInfoBox {
        margin-top: 30px;
        .userInfo {
          text-align: left;
          padding-left: 40px;
          .userInfoIcon {
            color: rgb(1, 1, 37);
            float: left;
            margin-right: 5px;
            .MuiSvgIcon-root {
              font-size: 1.2em;
            }
          }
          .userInfoText {
            color: rgba(1, 1, 37, 0.8);
            span {
              font-weight: 900;
              margin-right: 20px;
            }
          }
        }
        .userInfoEmail {
          clear: both;
        }
      }
      .userInfoBtn {
        margin: 40px auto 0;
        padding-left: 300px;
        .mypageBtn {
          font-size: 0.85em;
          border: 1px solid rgba(1, 1, 37, 0.3);
          border-radius: 4px;
          padding: 8px 12px;
          background-color: rgba(255, 255, 255, 0.5);
          &:hover {
            cursor: pointer;
            background-color: white;
            font-weight: 600;
            border: 1px solid rgba(1, 1, 37, 0.2);
          }
        }
        .changePasswordBtn {
          margin-right: 10px;
        }
      }
    }
    .contentOrderInfo {
      background-color: #f6f6f8;
      width: 60%;
      margin: 1em auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .orderHistoryTitle {
        font-size: 1.2em;
        font-weight: 600;
        padding-bottom: 30px;
        border-bottom: 1px solid #ebebeb;
      }
      .orderHistoryBox {
        margin: 15px auto 0;
        width: 90%;
        .orderLists {
          padding-left: 0;
          .orderlist {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 15px;
            border: 1px solid #ebebeb;
            border-radius: 4px;
            margin-bottom: 10px;
            list-style: none;
            .restaurantName {
              float: left;
              font-size: 1em;
              font-weight: 600;
              padding-left: 10px;
              margin-bottom: 20px;
            }
            .purchasedAt {
              float: right;
              font-size: 0.85em;
              color: gray;
              padding-right: 10px;
            }
            .menuLists {
              clear: both;
              padding-top: 15px;
              padding-bottom: 5px;
              margin-bottom: 15px;
              border-top: 1px solid #ebebeb;
              border-bottom: 1px solid #ebebeb;
              .menuList {
                list-style: none;
                text-align: left;
                .menuName {
                  font-size: 0.9em;
                  font-weight: 500;
                }
                .menuOption {
                  font-size: 0.85em;
                  margin-bottom: 10px;
                  font-weight: 300;
                }
              }
            }
            .deliveryInfomation {
              text-align: left;
              padding: 2px 0 0 10px;
              .title {
                font-size: 0.85em;
                font-weight: 600;
                float: left;
                width: 6em;
                height: 1.5em;
              }
              .text {
                height: 1.5em;
                font-size: 0.8em;
                font-weight: 350;
                padding-left: 15px;
              }
              .address {
                height: 2.2em;
              }
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .background {
    .h1 {
      font-size: 1.5em;
      margin: 1em;
      color: rgb(1, 1, 37);
    }
    .contentMyInfo {
      background-color: #f6f6f8;
      width: 90%;
      margin: auto;
      padding: 20px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .userInfoTitle {
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
      }
      .userInfoBox {
        margin-top: 20px;
        .userInfo {
          text-align: left;
          padding-left: 20px;
          .userInfoIcon {
            color: rgb(1, 1, 37);
            float: left;
            margin-right: 5px;
            .MuiSvgIcon-root {
              font-size: 1.1em;
            }
          }
          .userInfoText {
            font-size: 0.9em;
            color: rgba(1, 1, 37, 0.8);
            span {
              font-weight: 900;
              margin-right: 20px;
            }
          }
        }
        .userInfoEmail {
          clear: both;
        }
      }
      .userInfoBtn {
        margin: 20px auto 0;
        padding-left: 200px;
        .mypageBtn {
          font-size: 0.8em;
          border: 1px solid rgba(1, 1, 37, 0.3);
          border-radius: 4px;
          padding: 8px 12px;
          background-color: rgba(255, 255, 255, 0.5);
          &:hover {
            cursor: pointer;
            background-color: white;
            font-weight: 600;
            border: 1px solid rgba(1, 1, 37, 0.2);
          }
        }
        .changePasswordBtn {
          margin-right: 10px;
        }
      }
    }
    .contentOrderInfo {
      background-color: #f6f6f8;
      width: 90%;
      margin: 1em auto;
      padding: 20px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .orderHistoryTitle {
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
      }
      .orderHistoryBox {
        margin: 15px auto 0;
        width: 95%;
        .orderLists {
          padding-left: 0;
          .orderlist {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 10px;
            border: 1px solid #ebebeb;
            border-radius: 4px;
            margin-bottom: 10px;
            list-style: none;
            .restaurantName {
              float: left;
              font-size: 0.9em;
              font-weight: 600;
              padding-left: 5px;
              margin-bottom: 15px;
            }
            .purchasedAt {
              float: right;
              font-size: 0.8em;
              color: gray;
              padding-right: 5px;
            }
            .menuLists {
              clear: both;
              padding: 10px 0 3px 15px;
              margin-bottom: 10px;
              border-top: 1px solid #ebebeb;
              border-bottom: 1px solid #ebebeb;
              .menuList {
                list-style: none;
                text-align: left;
                .menuName {
                  font-size: 0.8em;
                  font-weight: 500;
                }
                .menuOption {
                  font-size: 0.75em;
                  margin-bottom: 8px;
                  font-weight: 300;
                }
              }
            }
            .deliveryInfomation {
              text-align: left;
              padding: 3px 0 0 5px;
              .title {
                font-size: 0.8em;
                font-weight: 600;
                float: left;
                width: 5em;
                height: 1.5em;
              }
              .text {
                height: 1.5em;
                font-size: 0.75em;
                font-weight: 350;
                padding-left: 10px;
              }
              .address {
                height: 3.5em;
              }
            }
          }
        }
      }
    }
  }
}