@import "../mixin";

@include desktop-large {
  
}

@include desktop-small {
  .background {
    width: 100%;
    position: relative;
    text-align: center;
    .nav {
      height: 6em;
      color:  white;
      background-color: rgb(1, 1, 37);
      border-bottom: 0.01rem solid rgba(1, 1, 37, 0.1);
      margin-bottom: 1.5em;
      .homeTitle {
        display: inline-block;
        font-size: 2.3em;
        font-weight: 600;
        text-decoration: none;
        line-height: 2.5em;
        color:  white;
      }
      .signInBtn {
        font-size: 0.8em;
        position: absolute;
        right: 10em;
        top: 35%;
        float: left;
        text-decoration: none;
        color: white;
        width: 4em;
        height: 1.18em;
        padding: 10px;
        text-align: center;
        border: 0.01rem solid rgba(255, 255, 255, 0.5);
        border-radius: 0.5em;
        &:hover {
          cursor: pointer;
          width: 4em;
          background-color: rgba(255, 255, 255, 0.15);
          color: white;
          border-radius: 0.5em;
          text-align: center;
          font-weight: 700;
          border: 0.01rem solid rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}

@include tablet {

}

@include mobile {

}