@import '../mixin';

@include desktop-large {
 
}

@include desktop-small {
  .background {
    .h1 {
      font-size: 2em;
      margin: 1.5em;
      color: rgb(1, 1, 37);
    }
    .description {
      font-size: 1em;
    }
    .contentTable {
      background-color: #f6f6f8;
      width: 55%;
      margin: auto;
      margin-top: 20px;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      font-size: 0.9em;
      .contentTitle {
        font-size: 1.7em;
        font-weight: 600;
      }
      .contentImg {
        img {
          width: 55%;
          margin: 25px 0;
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid #ebebeb;
        }
      }
      .contentDetailList {
        margin: 20px 40px 0 15px;
        font-weight: 600;
        font-size: 1.1em;
        li {
          font-weight: 400;
          list-style: none;
          line-height: 1.2em;
          margin-top: 8px;
        }
        margin-bottom: 20px;
      }
      .contentDetail {
        font-size: 1em;
        line-height: 1.3em;
      }
      .bookingList {
        margin: 20px 40px 0 15px;
        font-size: 1.1em;
        li {
          text-align: left;
          line-height: 1.5em;
          margin-top: 8px;
        }
      }
      .tableTitle {
        font-size: 1.5em;
        font-weight: 600;
      }
      .tableTitleGMP {
        font-size: 1.5em;
        font-weight: 600;
        margin-top: 30px;
      }
      .priceTable {
        border: 1px solid #ebebeb;
        margin: 5px auto;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        tr {
          line-height: 2em;
          td {
            padding: 5px 10px;
          }
          .firstColumn {
            background-color: #dfdfdf;
            font-weight: 600;
          }
        }
        .firstRow {
          background-color: #dfdfdf;
          font-weight: 600;
        }
      }
      .priceInfo {
        margin: 20px 40px 0 15px;
        font-size: 1.1em;
        li {
          text-align: left;
          line-height: 1.5em;
          margin-top: 8px;
        }
      }
    }
  }
}

@include tablet {

}

@include mobile {

}