@import '../mixin';

@include desktop-large {
  .background {
    .h1 {
      font-size: 2.1em;
      margin: 1.5em;
      color: rgb(1, 1, 37);
    }
    .contentUserInfo {
      background-color: #f6f6f8;
      width: 55%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .form {
        width: 32em;
        margin: auto;
        .emailAddressTitle {
          font-size: 1.2em;
          text-align: left;
          padding: 15px 0 15px 36px;
          font-weight: 600;
          .userEmailAddress {
            font-weight: 400;
            padding-left: 20px;
          }
        }
        .inputTitle {
          width: 32em;
          font-size: 1.2em;
          text-align: left;
          padding: 15px 0 0 36px;
          font-weight: 600;
        }
        .signupInput {
          margin: 10px 0 10px;
          padding: 12px 0 12px 12px;
          width: 32em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .passwordAlert {
          padding-top: 15px;
          color: rgb(190, 23, 11);
          font-size: 1em;
          .signupLink {
            a {
              padding-left: 10px;
              color: rgb(1, 1, 37);
              font-weight: 500;
              font-size: 0.9em;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
        .none {
          display: none;
        }
        .resetPasswordBtn {
          margin-top: 30px;
          padding: 12px 0;
          width: 25em;
          border-radius: 4px;
          font-size: 1.1em;
          color: white;
          background-color:  rgb(1, 1, 37);
          &:hover {
            cursor: pointer;
            opacity: 85%;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@include desktop-small {
  .background {
    .h1 {
      font-size: 2em;
      margin: 1.5em;
      color: rgb(1, 1, 37);
    }
    .contentUserInfo {
      background-color: #f6f6f8;
      width: 50%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .form {
        width: 30em;
        margin: auto;
        .emailAddressTitle {
          width: 32em;
          font-size: 1.1em;
          text-align: left;
          padding: 15px 0 15px 25px;
          font-weight: 600;
          .userEmailAddress {
            font-weight: 400;
            padding-left: 20px;
          }
        }
        .inputTitle {
          font-size: 1.1em;
          text-align: left;
          padding: 15px 0 0 25px;
          font-weight: 600;
        }
        .signupInput {
          margin: 10px 0 5px;
          padding: 10px 0 10px 10px;
          width: 31.5em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .passwordAlert {
          padding-top: 15px;
          color: rgb(190, 23, 11);
          font-size: 1em;
          .signupLink {
            a {
              padding-left: 10px;
              color: rgb(1, 1, 37);
              font-weight: 500;
              font-size: 0.9em;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
        .none {
          display: none;
        }
        .resetPasswordBtn {
          margin-top: 30px;
          padding: 10px 0;
          width: 27em;
          border-radius: 4px;
          font-size: 1em;
          color: white;
          background-color:  rgb(1, 1, 37);
          &:hover {
            cursor: pointer;
            opacity: 85%;
            font-weight: 600;
          }
        }
      }
    }
  } 
}

@include tablet {
  .background {
    .h1 {
      font-size: 1.7em;
      margin: 1.2em;
      color: rgb(1, 1, 37);
    }
    .contentUserInfo {
      background-color: #f6f6f8;
      width: 70%;
      margin: auto;
      padding: 30px 0;
      border: 1px solid #ebebeb;
      color: rgb(1, 1, 37);
      .form {
        width: 30em;
        margin: auto;
        .emailAddressTitle {
          width: 32em;
          font-size: 1em;
          text-align: left;
          padding: 0 0 10px 25px;
          font-weight: 600;
          .userEmailAddress {
            font-weight: 400;
            padding-left: 20px;
          }
        }
        .inputTitle {
          font-size: 1em;
          text-align: left;
          padding: 15px 0 0 25px;
          font-weight: 600;
        }
        .signupInput {
          margin: 5px 0 5px;
          padding: 10px 0 10px 10px;
          width: 31.5em;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        .passwordAlert {
          padding-top: 15px;
          color: rgb(190, 23, 11);
          font-size: 1em;
          .signupLink {
            a {
              padding-left: 10px;
              color: rgb(1, 1, 37);
              font-weight: 500;
              font-size: 0.9em;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
        .none {
          display: none;
        }
        .resetPasswordBtn {
          margin-top: 30px;
          padding: 10px 0;
          width: 27em;
          border-radius: 4px;
          font-size: 1em;
          color: white;
          background-color:  rgb(1, 1, 37);
          &:hover {
            cursor: pointer;
            opacity: 85%;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@include mobile {

}